html {
  height: 100%;
  box-sizing: border-box;
}
body {
  height: 100%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.wrapper {
  min-height: 100vh;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: #202020;
  color: #fff;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header__logo-block {
  width: 110px;
  margin-left: 10px;
  border: 1px solid #fff;
}
.logo-img,
.logo {
  display: block;
  margin: 2px auto;
  text-align: center;
}
.header__menu {
  display: flex;
  margin-right: 20px;
}
.header__menu-item {
  gap: 20px;
  list-style-type: none;
  display: block;
  margin-left: 20px;
}
.header__menu-item-link {
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
}
.header__menu-item--active,
.header__menu-item:hover {
  opacity: 1;
}
.footer {
  background-color: #202020;
  color: #fff;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main {
  padding-top: 50px;
  flex-grow: 1;
}
.main__title + .main__title {
  margin-top: 10px;
  margin-bottom: 40px;
}
.main__title {
  text-align: center;
}
.main__users {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 20px;
  border-top: 1px solid #202020;
  border-bottom: 1px solid #202020;
}
.main__add-user,
.main__user-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10px 10px;
}
.main__user-list {
  justify-content: start;
}
.main_input {
  padding: 5px 10px;
}
.main_btn {
  margin-top: 10px;
  border: none;
  background-color: #202020;
  color: #fff;
  cursor: pointer;
  padding: 8px;
}
.main__user-list {
  list-style-type: none;
}
.main__description {
  padding: 10px;
}
.main__description > p {
  padding-bottom: 10px;
}
.main__selected,
.persist__selected {
  background-color: #202020;
  color: #fff;
  padding: 4px;
  border-radius: 4px;
}
.pt-20 {
  padding-top: 20px;
}

/* For async example */
.mt-20 {
  margin-top: 20px;
}
.async__block {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 20px;
}
.async__btn {
  border: none;
  background-color: #202020;
  padding: 8px;
  color: #fff;
  width: 50%;
  cursor: pointer;
  text-transform: uppercase;
  display: block;
  margin: 10px auto;
}
.async__user-list {
  width: 50%;
  display: block;
  margin: 0 auto;
}
.async__user-downloaded {
  padding-top: 8px;
  padding-bottom: 4px;
}

/* For middleware example */
.mb-10 {
  margin-bottom: 10px;
}
.middleware__persist-title {
  text-align: center;
  padding: 15px 0;
}
.middleware__persist-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px;
  margin-bottom: 10px;
}
.middleware__persist-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.middleware__persist-save-block {
  display: flex;
}
.middleware__persist-icon {
  padding: 7px;
  background: #404040;
  color: #fff;
  min-width: 50px;
  text-align: center;
}
.middleware__persist-input-field {
  width: 100%;
  padding: 7px;
  font-size: 16px;
  outline: none;
}
.middleware__persist-input-field:focus {
  border: 2px solid #404040;
}
.middleware__persist-btn {
  background-color: #404040;
  color: white;
  padding: 7px 20px;
  font-size: 11px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 1;
}
.middleware__persist-btn:hover {
  opacity: 0.8;
}
.middleware__persist-check-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.w-100 {
  width: 100%;
}
.p-5 {
  padding: 5px;
}
